@import url("/fonts/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary outline-first-theme inline-block rounded-full px-6 py-2 font-semibold shadow-sm;
  }
  .text-primary {
    @apply bg-gradient-to-r from-[color:var(--first-theme)] to-[color:var(--second-theme)] bg-clip-text text-transparent !important;
  }
  .bg-primary {
    @apply bg-gradient-to-r from-[color:var(--first-theme)] to-[color:var(--second-theme)] text-white;
  }
  .outline-first-theme {
    @apply hover:opacity-80 hover:outline-[color:var(--first-theme)] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[color:var(--first-theme)];
  }
  .outline-second-theme {
    @apply hover:opacity-80 hover:outline-[color:var(--second-theme)] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[color:var(--second-theme)];
  }
  .within-outline-first-theme {
    @apply focus-within:outline focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-[color:var(--first-theme)] hover:opacity-80 hover:outline-[color:var(--first-theme)];
  }
}

:root {
  --first-theme: #5274d9;
  --second-theme: #0bafba;
  /* Keep the below variable names in sync with CSS_VARIABLES in globals-css.ts */
  --top-nav-bar-height: 3.5rem;
  --resume-control-bar-height: 3rem;
  --resume-padding: 1.5rem;
}
